.active-list{
    margin-top: 5%;
    text-align: center;
}

.active-list-title{
    margin-bottom: 10%;
    text-align: center;
}
.active-list-title h2{
    text-align: center;
}
.active-list-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.active-list-body-elements-1{
    flex-grow: 3;
    margin-right: 3rem;
}
.active-list-body-elements-2{
    flex-grow: 3;
    margin-right: 1rem;
}
.active-list-body-elements-2 hr{
    margin-bottom: 23px;
}
.active-list-body-orders{
    text-align: start;
    margin-top: 4%;
}
.active-list-body-empty-orders{
    text-align: center;
}
.active-list-body-button{
    flex-grow: 0.1;
    text-align: right;
}
.table{
    border-color: #212529;
}
hr{
    background-color: black;
}